.container{
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #0026ff;
  }
  
  .wrap-login{
    width: 400px;
    /* height: 600px; */
    background-color: #2445ff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
  
  }